# IvoryAndEbonyKeys
/IvoryAndEbonyKeys/libs/*
/IvoryAndEbonyKeys/resource/*
/IvoryAndEbonyKeys/.wing/*
/IvoryAndEbonyKeys/wingProperties.json

# kanban-app
kanban-app/node_modules/

# blog_app
blog_app/test/node_modules/
blog_app/app/node_modules/
blog_app/app/public/img/

# log
*.log
